.gradient-custom {
    /* fallback for old browsers */
    background: #BE2F29;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(178, 38, 9), rgb(137, 30, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(237, 37, 23), rgb(145, 34, 3))
    }